In [6]:
#Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool.(Written in python)
#Pandas is widely used in Data Science, Data Analysis, Machine Learning and many more fields
#Program to read a csv file using pandas

import pandas as pd
data = pd.read_csv('student_data.csv')
#The contents of the file: student_data.csv will be stored in df (DataFrame)
print(data)

       Name  Roll_no  Class Section  Marks
0     Akash        5      3       A     43
1   Anirudh        6      3       A     44
2  Chaithra       16      3       A     45
3   Chandan       18      3       A     46
4  Chandana       19      3       A     47
5   Chintan       20      3       A     49

In [8]:
dict1 = { "Name" : ["Akash","Anirudh","Chaithra","Chandan","Chandana","Chintan"],
         "Marks" : [43,44,45,46,47,49],
         "City" : ["Tumkur","Banglore","Madhughiri","Tumkur","Mandya","Mysore"]
}
df = pd.DataFrame(dict1)
print(df)

       Name  Marks        City
0     Akash     43      Tumkur
1   Anirudh     44    Banglore
2  Chaithra     45  Madhughiri
3   Chandan     46      Tumkur
4  Chandana     47      Mandya
5   Chintan     49      Mysore

In [14]:
#We can export the above table into a csv file using the function: to_csv(file_name)
df.to_csv('exported_data.csv',index = False)
#index = False  will not add any indexing into the csv file but the csv reader may display the indexing
#We can even use index = [] which is as same as index = False
#We can even add our own indexing to the file by passing the index values to the index attribute

In [17]:
#To read only starting few specific rows we can use head() function
print(df.head(3))
#if we dont pass any specific number in head() function by default it will print first 5 rows
#If we pass a specific number within the head() function it will print the rows from starting until the specified number

       Name  Marks        City
0     Akash     43      Tumkur
1   Anirudh     44    Banglore
2  Chaithra     45  Madhughiri

In [18]:
#To read only last few specific rows we can use tail() function.
print(df.tail(3))
#if we dont pass any specific number in tail() function by default it will print last 5 rows
#If we pass a specific number within the tail() function it will print the rows from the bottom row until the specified number.

       Name  Marks    City
3   Chandan     46  Tumkur
4  Chandana     47  Mandya
5   Chintan     49  Mysore

In [19]:
# we can do statistical analysis on numerical rows of our table using describe() function.
print(df.describe())

           Marks
count   6.000000
mean   45.666667
std     2.160247
min    43.000000
25%    44.250000
50%    45.500000
75%    46.750000
max    49.000000

In [20]:
#Lets read the data from a csv file: Train_data.csv
Train = pd.read_csv('Train_data.csv')
print(Train)

   Train_NO S_Station E_Station  Spped
0     12323  Banglore   Chennai     80
1     15234    Tumkur  Banglore     60
2     14789    Mysore   Madurai    120
3     32145    Mandya     Koorg    100
4     65894     Kukke  Banglore    120
5     51684   Chennai    Mumbai    150
6     65956  Banglore   Ayodhya    180
7     46849   Ayodhya   Varansi     60

In [25]:
#Lets say we only want to see a specific column from the above table
print(Train['Train_NO'])

0    12323
1    15234
2    14789
3    32145
4    65894
5    51684
6    65956
7    46849
Name: Train_NO, dtype: int64