In [1]:
#In this file I will declare the required varibales in first section and I will be using the same variables in different sections.

import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
'Matthew', 'Laura', 'Kevin', 'Jonas'],
 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [6]:
#Write a Pandas program to create and display a DataFrame from a specified dictonary data which has the index labels.
df = pd.DataFrame(exam_data,index=labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [10]:
#Write a Pandas program to fetch the first 3 rows of a given DataFrame
#We can fetch data in 2 different Methods

#Method 1: using iloc
print(df.iloc[:3])

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [12]:
#Method 2: using head()
print(df.head(3))

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [27]:
#Write a pandas program to select the 'name' and 'score' columns from the following DataFrame.
print("Printing only name and score columns.")
print(df[['name','score',]])

Printing only name and score columns.
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [28]:
#Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.
print("Printing the rows where attempts are greater than 2")
print(df[df['attempts']>2])

Printing the rows where attempts are greater than 2
      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

In [29]:
#Write a Pandas program to select the rows where the score is between 15 and 20
print("Printing the rows where score is between 15 and 20")
print(df[df['score'].between(15,20)])

Printing the rows where score is between 15 and 20
        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

In [34]:
#Write a Pandas program to calculate the sum of the examination attemps by the students.
print("Printing the sum of attempts column in the table.")
print(df['attempts'].sum())

Printing the sum of attempts column in the table.
19

In [36]:
#Write a Pandas program to calculate the mean score of the DataFrame.
print("Printing the mean score of the DataFrame...")
print(df['score'].mean())

Printing the mean score of the DataFrame...
13.5625

In [42]:
#Write a Pandas program to sort the DataFrame first by 'name' in descending order then by 'score' in ascending order
sorting_name = df.sort_values(by = ['name'], ascending = [False])
sorting_score = df.sort_values(by = ['score'], ascending = True)
print("Table sorted based on names in descending order: ")
print(sorting_name)
print("Table sorted based on score in ascending order: ")
print(sorting_score)

Table sorted based on names in descending order:
        name  score  attempts qualify
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes
Table sorted based on score in ascending order:
        name  score  attempts qualify
i      Kevin    8.0         2      no
b       Dima    9.0         3      no
e      Emily    9.0         2      no
a  Anastasia   12.5         1     yes
g    Matthew   14.5         1     yes
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
f    Michael   20.0         3     yes
d      James    NaN         3      no
h      Laura    NaN         1      no

In [43]:
#Write a Pandas program to change the name 'James' to 'Suresh' in name column of the DataFrame.
df['name'] = df['name'].replace('James','Suresh')
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d     Suresh    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes